/* Styles go here */


 /*Gist Custom Style */
 
 .gist .line-numbers {
      padding: 0.5em;
      color: #AAA;
      text-align: right;
      background-color: #FFF;
      border-right: 1px solid #EEE;
      line-height: 2.12;
    }
    .gist .pl-s1 .pl-s2, .gist .pl-smi, .gist .pl-smp, .gist .pl-stj, .gist .pl-vo, .gist .pl-vpf {
      color: white;
    }
    .gist .line-data {
      background-color: black;
    }
    .gist .line-pre {
		color: white;
    }
    .gh-text {
      font-size: 18px;
    }
    
  
    
    
